.menu-list{
    padding-left: 30px;
    padding-top: 20px;
}
.home-section{
    float:left;
    width: 10%;
}
.section{
    margin-left: 10%;
    float:left;
}
.photo{
    padding-right: 5px;
}

#notificationImg {

  margin: 0 auto;
}

.name {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 40px/1 "Trebuchet MS", Helvetica, sans-serif;
  color: rgba(99,94,94,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgb(255,255,255);
  text-shadow: 1px 1px 5px rgba(125,129,132,0.91) ;
  text-align: center;
}

#text {
  z-index: 100;
  position: absolute;
  color: black
  font-size: 24px;
  font-weight: bold;
  left: 270px;
  top: 50px;
}
.numberCircle {
    width: 60px;
    height: 60px;
    padding: 8px;
    background: #FFC40C;
    border: 2px solid #666;
    color: #fff;
    text-align: center;
    font: 18px sans-serif;
    position: absolute;
    top: 113px;
    display: -webkit-box;
    right:37%;
    border-radius: 30px 30px 30px 30px;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 420px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        
    }
   .numberCircle {
    
    
    right:10%;
    }
}

@media only screen and (max-width: 280px) {
       .numberCircle {
    width:30px;
    height:30px;
    padding:4px;
    right:5%;
    }
       }
       @media only screen and (min-width: 281px) and (max-width: 350px) {
       .numberCircle {
    width:50px;
    height:50px;
    padding:6px;
    right:7.5%;
    }
       }
       @media only screen and (min-width: 421px )and (max-width:580px) {
       .numberCircle {
    right:15%;
    }
